.container {

  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 1px solid black;
}

.searchButton {
  width: 80%;
  height: 40px;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  background: #FFFFFF;
  cursor: pointer;
}

.menu {
  width: 80%;
  margin: 10px 0 0 0;
  border: 1px solid #bebebe;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 10px;
}
