* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "TT Norms Pro Regular";
  src: local("TT Norms Pro Regular"),
    url(../fonts/TTNormsPro-Regular.woff) format("woff");
}

@font-face {
  font-family: "TT Norms Pro Medium";
  src: local("TT Norms Pro Medium"),
    url(../fonts/TTNormsPro-Medium.woff) format("woff");
}

